#add_product_btn,
#delete_product_btn {
	font-weight: bold;
	border-width: 0.125em;
	font-size: 1.25rem;
	transition: all 400ms;
	min-width: 140px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#Title {
	font-weight: bold;
	font-size: 2.5rem;
}
@media only screen and (max-width: 600px) {
	#Title {
		font-size: 1.5rem;
	}
	#add_product_btn,
	#delete_product_btn {
		font-size: 0.9rem;
		transition: all 400ms;
		min-width: 110px;
		margin-top: 10px;
	}
	#add_product_btn {
		font-size: 1rem;
	}
}
