#cancel_product_btn,
#save_product_btn {
	font-weight: bold;
	border-width: 0.125rem;
	font-size: 1.25rem;
	transition: all 400ms;
	min-width: 80px;
}

#AddProductTitle {
	font-weight: bold;
	font-size: 2.5rem;
}
@media only screen and (max-width: 600px) {
	#AddProductTitle {
		font-size: 1.5rem;
	}
}
